th,
td {
  padding: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #202020;
}

th,
td:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
  background-color: #303030;
}

th:nth-child(1) {
  font-weight: 700;
}

.game-over-record {
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0px 0px 20px rgba(244, 228, 1, 0.2);
}
