.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #303030;
}

.background-container {
  gap: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
